header.header.transparent-header nav.navbar.navbar-default .navbar-header .navbar-toggle:hover span {
  background-color: #009CDE;
}
header.header.transparent-header nav.navbar.navbar-default .navbar-nav li a:hover,
header.header.transparent-header nav.navbar.navbar-default .navbar-nav li a:focus {
  color: #009CDE;
}
.navbar .container-fluid .navbar-nav li:hover > a {
  color: #009CDE;
}
.navbar .container-fluid .navbar-nav li.active > a,
.navbar .container-fluid .navbar-nav li.current > a,
.navbar .container-fluid .navbar-nav li.open > a {
  color: #009CDE;
}
.navbar .container-fluid .navbar-nav li.active > a:hover,
.navbar .container-fluid .navbar-nav li.current > a:hover,
.navbar .container-fluid .navbar-nav li.open > a:hover,
.navbar .container-fluid .navbar-nav li.active > a:focus,
.navbar .container-fluid .navbar-nav li.current > a:focus,
.navbar .container-fluid .navbar-nav li.open > a:focus,
.navbar .container-fluid .navbar-nav li.active > a.dropdown-toggle,
.navbar .container-fluid .navbar-nav li.current > a.dropdown-toggle,
.navbar .container-fluid .navbar-nav li.open > a.dropdown-toggle {
  color: #009CDE;
}
.navbar .container-fluid .navbar-nav li a:hover,
.navbar .container-fluid .navbar-nav li a:focus {
  color: #009CDE;
}
.navbar .container-fluid .navbar-nav li.login-register-link a:hover {
  color: #009CDE;
}
.rq-listing-header .navbar .container-fluid .navbar-nav li:hover > a {
  color: #009CDE;
}
.rq-listing-header .navbar .container-fluid .navbar-nav li.active > a,
.rq-listing-header .navbar .container-fluid .navbar-nav li.current > a,
.rq-listing-header .navbar .container-fluid .navbar-nav li.open > a {
  color: #009CDE;
}
.rq-listing-header .navbar .container-fluid .navbar-nav li.active > a:hover,
.rq-listing-header .navbar .container-fluid .navbar-nav li.current > a:hover,
.rq-listing-header .navbar .container-fluid .navbar-nav li.open > a:hover,
.rq-listing-header .navbar .container-fluid .navbar-nav li.active > a:focus,
.rq-listing-header .navbar .container-fluid .navbar-nav li.current > a:focus,
.rq-listing-header .navbar .container-fluid .navbar-nav li.open > a:focus,
.rq-listing-header .navbar .container-fluid .navbar-nav li.active > a.dropdown-toggle,
.rq-listing-header .navbar .container-fluid .navbar-nav li.current > a.dropdown-toggle,
.rq-listing-header .navbar .container-fluid .navbar-nav li.open > a.dropdown-toggle {
  color: #009CDE;
}
.rq-listing-header .navbar .container-fluid .navbar-nav li a:hover,
.rq-listing-header .navbar .container-fluid .navbar-nav li a:focus {
  color: #009CDE;
}
.rq-listing-header .navbar .container-fluid .navbar-nav li.login-register-link a:hover {
  color: #009CDE;
}
.rq-listing-header .login-register-link.right-side-link a:hover {
  color: #009CDE;
}
.turbo-vertical-search-wrapper .header-body {
  background-color: #fff9f9 !important;
}
.turbo-obb-vertical-search-form #reactive-root button#applyFilter,
.turbo-horizontal-search-oob #reactive-root button#applyFilter {
  color: #ffffff;
  background-color: #009CDE;
}
.turbo-obb-vertical-search-form #reactive-root button#applyFilter:focus,
.turbo-horizontal-search-oob #reactive-root button#applyFilter:focus,
.turbo-obb-vertical-search-form #reactive-root button#applyFilter:hover,
.turbo-horizontal-search-oob #reactive-root button#applyFilter:hover {
  background-color: #ffa548;
}
.search-layout-three::after {
  background-color: #fef5ed;
}
.search-layout-four > .header-body .container .rq-home-banner-content .badge-heading h6 span {
  background-color: #009CDE;
}
.rq-home-banner-conetnt .rq-search-banner-buttons a {
  background-color: #009CDE;
  border: 1px solid #009CDE;
  color: #ffffff;
}
.rq-home-banner-conetnt .rq-search-banner-buttons a svg {
  fill: #ffffff;
}
.rq-home-banner-conetnt .rq-search-banner-buttons a.rq-search-details-btn {
  background-color: #fef5ed;
  color: #009CDE;
}
.rq-home-banner-conetnt .rq-search-banner-buttons a.rq-search-details-btn svg {
  fill: #009CDE;
}
.about-us-content-single .brand-title .dot {
  color: #009CDE;
}
.select2-container--default .select2-dropdown .select2-search--dropdown .select2-search__field {
  padding: 0 15px;
}
.select2-container--default .select2-dropdown .select2-results .select2-results__option {
  outline: 0;
  height: 50px;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
}
.select2-container--default .select2-dropdown .select2-results .select2-results__option--highlighted[aria-selected] {
  background-color: #009CDE;
}
.DateRangePicker .DateRangePickerInput .DateInput .DateInput__display-text--focused {
  background-color: #009CDE;
  border-color: #009CDE;
  color: #ffffff;
}
.DateRangePicker__picker .DayPickerNavigation--horizontal .DayPickerNavigation__next:focus,
.DateRangePicker__picker .DayPickerNavigation--horizontal .DayPickerNavigation__prev:focus,
.DateRangePicker__picker .DayPickerNavigation--horizontal .DayPickerNavigation__next:hover,
.DateRangePicker__picker .DayPickerNavigation--horizontal .DayPickerNavigation__prev:hover {
  outline: 0;
  background-color: #009CDE;
  border-color: #009CDE;
}
.DateRangePicker__picker tbody.js-CalendarMonth__grid tr td.CalendarDay.CalendarDay--selected-start,
.DateRangePicker__picker tbody.js-CalendarMonth__grid tr td.CalendarDay.CalendarDay--selected-end {
  background-color: #009CDE !important;
  border: 1px double #009CDE !important;
}
.DateRangePicker__picker tbody.js-CalendarMonth__grid tr td.CalendarDay.CalendarDay--selected-start.CalendarDay--hovered-span,
.DateRangePicker__picker tbody.js-CalendarMonth__grid tr td.CalendarDay.CalendarDay--selected-end.CalendarDay--hovered-span {
  background-color: #009CDE;
  border: 1px double #009CDE;
}
.DateRangePicker__picker tbody.js-CalendarMonth__grid tr td.CalendarDay > button {
  outline: 0;
}
.DateRangePicker__picker tbody.js-CalendarMonth__grid tr td.CalendarDay.CalendarDay--hovered-span,
.DateRangePicker__picker tbody.js-CalendarMonth__grid tr td.CalendarDay.CalendarDay--selected-span {
  background-color: #ffcb94;
  border: 1px double #ffb261;
}
.DateRangePicker__picker .DayPickerKeyboardShortcuts__show--bottom-right {
  outline: 0;
  border-right: 33px solid #009CDE;
}
.DateRangePicker__picker .DayPickerKeyboardShortcuts__show--bottom-right:hover {
  border-right: 33px solid #fa8000;
}
.rq-isotope-filter-footer a.rq-filter-all-btn {
  background-color: #fef5ed;
  color: #009CDE;
}
.rq-isotope-filter-footer a.rq-filter-all-btn:focus,
.rq-isotope-filter-footer a.rq-filter-all-btn:hover {
  color: #ffffff;
  background-color: #009CDE;
}
.turbo-highlighted-feature-block.layout-four .button-section a.rq-default-btn {
  background-color: #fef5ed;
  color: #009CDE;
}
.turbo-highlighted-feature-block.layout-four .button-section a.rq-default-btn:focus,
.turbo-highlighted-feature-block.layout-four .button-section a.rq-default-btn:hover {
  color: #ffffff;
  background-color: #009CDE;
}
.rq-content-block .button-section a.rq-default-btn {
  background-color: #fef5ed;
  color: #009CDE;
}
.rq-content-block .button-section a.rq-default-btn:focus,
.rq-content-block .button-section a.rq-default-btn:hover {
  color: #ffffff;
  background-color: #009CDE;
}
.turbo-highlighted-feature-block ul.hightlighted-featured li .turbo-icon-wrap {
  background-color: #fef5ed;
  color: #009CDE;
}
.turbo-highlighted-feature-block ul.hightlighted-featured li:hover {
  background-color: #009CDE;
}
.turbo-highlighted-feature-block ul.hightlighted-featured li:hover .turbo-feature-content h4,
.turbo-highlighted-feature-block ul.hightlighted-featured li:hover .turbo-feature-content p.content {
  color: #ffffff;
}
.turbo-highlighted-feature-block ul.hightlighted-featured li:hover .turbo-icon-wrap {
  color: #ffffff;
  background-color: #ffb76b;
}
.rq-feature-product-block .single-cb-content .product-meta span.rating-badge {
  background-color: #fef5ed;
  color: #009CDE;
}
.rq-feature-product-block ul.related-products .owl-nav .owl-prev,
.rq-feature-product-block ul.related-products .owl-nav .owl-next {
  background-color: #ffffff;
}
.rq-feature-product-block ul.related-products .owl-nav .owl-prev i,
.rq-feature-product-block ul.related-products .owl-nav .owl-next i {
  color: #009CDE;
}
.rq-feature-product-block ul.related-products .owl-nav .owl-prev:hover,
.rq-feature-product-block ul.related-products .owl-nav .owl-next:hover {
  background-color: #009CDE;
}
.rq-feature-product-block ul.related-products .owl-nav .owl-prev:hover i,
.rq-feature-product-block ul.related-products .owl-nav .owl-next:hover i {
  color: #ffffff;
}
.single-cb-content .product-meta span.rating-badge {
  background-color: #fef5ed;
  color: #009CDE;
}
.single-cb-content .button-section a.rq-default-btn {
  background-color: #fef5ed;
  color: #009CDE;
}
.single-cb-content .button-section a.rq-default-btn:hover,
.single-cb-content .button-section a.rq-default-btn:focus {
  color: #ffffff;
  background-color: #009CDE;
}
.newsletter-layout-two .rq-download-app-section .app-text-section form.rq-newsletter-form button.rq-btn {
  background-color: #009CDE;
  color: #ffffff;
}
.newsletter-layout-two .rq-download-app-section .app-text-section form.rq-newsletter-form button.rq-btn:hover,
.newsletter-layout-two .rq-download-app-section .app-text-section form.rq-newsletter-form button.rq-btn:focus {
  outline: 0;
  color: #ffffff;
  background-color: #ffa548;
}
.nicescroll-rails.nicescroll-rails-vr .nicescroll-cursors {
  background-color: #009CDE !important;
}
.rq-mission-block .mission-image {
  background-color: #009CDE !important;
}
.turbo-vertical-line-reverse .rq-car-listing-tab .tab-content .child-tab-wrapper .tab-content .rq-tab-car-details .large-image-wrapper .large-image-wrapper {
  background-color: #fef5ed;
}
.child-tab-wrapper .rq-tab-car-details .large-image-wrapper .image-bg {
  background-color: #009CDE !important;
}
.rq-call-to-action {
  background-color: #009CDE;
}
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ div input[type='checkbox']:checked + label:before,
.reactiveNormSearchGridContents___ .reuseElementBlock___ div input[type='checkbox']:checked + label:before,
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ div input.reuseCheckbox___:checked + label:before,
.reactiveNormSearchGridContents___ .reuseElementBlock___ div input.reuseCheckbox___:checked + label:before,
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ div input.reuseComboCheckbox___:checked + label:before,
.reactiveNormSearchGridContents___ .reuseElementBlock___ div input.reuseComboCheckbox___:checked + label:before {
  border: 2px solid #009CDE;
  background-color: #009CDE;
}
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ div.reuseRadioButtonWrapper___ input[type='radio']:checked + label:before,
.reactiveNormSearchGridContents___ .reuseElementBlock___ div.reuseRadioButtonWrapper___ input[type='radio']:checked + label:before {
  border: 2px solid #009CDE !important;
}
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ div.reuseRadioButtonWrapper___ input[type='radio']:checked + label:after,
.reactiveNormSearchGridContents___ .reuseElementBlock___ div.reuseRadioButtonWrapper___ input[type='radio']:checked + label:after {
  background-color: #009CDE !important;
}
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-base .noUi-origin,
.reactiveNormSearchGridContents___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-base .noUi-origin {
  background-color: #009CDE;
}
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-base .noUi-origin .noUi-handle,
.reactiveNormSearchGridContents___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-base .noUi-origin .noUi-handle,
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-base .noUi-origin .noUi-handle .noUi-tooltip,
.reactiveNormSearchGridContents___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
  box-shadow: 0 0 8px rgba(255, 153, 46, 0.5);
}
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseSingleElement___ div button.reuseButton___,
.reactiveNormSearchGridContents___ .reuseSingleElement___ div button.reuseButton___ {
  background-color: #fef5ed;
  color: #009CDE;
}
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseSingleElement___ div button.reuseButton___:hover,
.reactiveNormSearchGridContents___ .reuseSingleElement___ div button.reuseButton___:hover,
.turbo-grid-newSidebar .reactiveNormSearchGridContents___ .reuseSingleElement___ div button.reuseButton___:focus,
.reactiveNormSearchGridContents___ .reuseSingleElement___ div button.reuseButton___:focus {
  color: #ffffff;
  background-color: #009CDE;
}
.reactiveBarComponentWrapper___ .reactiveBarContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseSortingIcon___ i {
  color: #009CDE !important;
}
.reactiveBarComponentWrapper___ .reactiveBarContents___ .reuseFormWrapper___ .reuseSingleElement___ ul.rc-pagination.ant-pagination li:hover,
.reactiveBarComponentWrapper___ .reactiveBarContents___ .reuseFormWrapper___ .reuseSingleElement___ ul.rc-pagination.ant-pagination li:focus {
  outline: 0;
  border-color: #009CDE !important;
}
.reactiveBarComponentWrapper___ .reactiveBarContents___ .reuseFormWrapper___ .reuseSingleElement___ ul.rc-pagination.ant-pagination li:hover a,
.reactiveBarComponentWrapper___ .reactiveBarContents___ .reuseFormWrapper___ .reuseSingleElement___ ul.rc-pagination.ant-pagination li:focus a {
  color: #009CDE !important;
}
.reactiveBarComponentWrapper___ .reactiveBarContents___ .reuseFormWrapper___ .reuseSingleElement___ ul.rc-pagination.ant-pagination li.rc-pagination-item-active {
  background-color: #009CDE !important;
  border-color: #009CDE !important;
}
#ReactiveShowGrid .rq-car-listing-wrapper .rq-listing-choose.rq-new-turboListing-wrapper .listing-single .listing-image-hover a {
  background-color: #009CDE;
}
#ReactiveShowGrid .rq-car-listing-wrapper .rq-listing-choose.rq-new-turboListing-wrapper .listing-single .listing-details-two .listing-meta-content span.average-rating {
  color: #009CDE;
  background-color: #fef5ed;
}
#ReactiveShowGrid .rq-car-listing-wrapper .rq-listing-choose.rq-new-turboListing-wrapper .listing-single span.price-per-day span.price {
  color: #009CDE;
}
#ReactiveShowGrid .rq-car-listing-wrapper .rq-listing-choose.rq-new-turboListing-wrapper .listing-single.list-view .listing-details ul.listing-feature li:before {
  color: #009CDE;
}
#ReactiveShowGrid .rq-car-listing-wrapper .rq-listing-choose.rq-new-turboListing-wrapper .listing-single.list-view .listing-details .listing-footer .btn-wrapper span.book-now-btn a {
  background-color: #009CDE;
}
#ReactiveShowGrid .rq-car-listing-wrapper .rq-listing-choose.rq-new-turboListing-wrapper .listing-single.list-view .listing-details .listing-footer .btn-wrapper span.book-now-btn a:hover,
#ReactiveShowGrid .rq-car-listing-wrapper .rq-listing-choose.rq-new-turboListing-wrapper .listing-single.list-view .listing-details .listing-footer .btn-wrapper span.book-now-btn a:focus {
  background-color: #ffa548;
}
.listing-single .listing-image-hover a {
  background-color: #009CDE;
}
.listing-single .book-now-btn a {
  background-color: #009CDE;
}
.mfp-wrap .mfp-container .mfp-content .rnb-popup p button.quote-submit {
  background-color: #009CDE;
}
.mfp-wrap .mfp-container .mfp-content .rnb-popup p button.quote-submit:hover,
.mfp-wrap .mfp-container .mfp-content .rnb-popup p button.quote-submit:focus {
  background-color: #ffa548;
}
.mfp-wrap .mfp-container .mfp-content .rnb-popup button.mfp-close:hover,
.mfp-wrap .mfp-container .mfp-content .rnb-popup button.mfp-close:focus {
  color: #ffa548;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background: #009CDE !important;
  color: #ffffff !important;
  border-color: #009CDE !important;
}
.xdsoft_datetimepicker .xdsoft_mounthpicker .xdsoft_month .xdsoft_option:hover,
.xdsoft_datetimepicker .xdsoft_mounthpicker .xdsoft_year .xdsoft_option:hover {
  background: #ffa548 !important;
}
.xdsoft_datetimepicker .xdsoft_mounthpicker .xdsoft_month .xdsoft_option.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_mounthpicker .xdsoft_year .xdsoft_option.xdsoft_current {
  background: #009CDE !important;
  box-shadow: none !important;
}
.rq-listing-page .sidebar h2.rq-product-sidebar-heading span.woocommerce-Price-amount {
  color: #009CDE;
}
.rq-listing-page form.cart .booking-pricing-info h3.booking_cost span {
  color: #009CDE;
}
.rq-listing-page form.cart .button,
.rq-listing-page form.cart button,
.rq-listing-page form.cart #quote-content-confirm {
  background-color: #009CDE !important;
}
.rq-listing-page form.cart .button:focus,
.rq-listing-page form.cart button:focus,
.rq-listing-page form.cart #quote-content-confirm:focus,
.rq-listing-page form.cart .button:active,
.rq-listing-page form.cart button:active,
.rq-listing-page form.cart #quote-content-confirm:active,
.rq-listing-page form.cart .button:hover,
.rq-listing-page form.cart button:hover,
.rq-listing-page form.cart #quote-content-confirm:hover {
  background-color: #ff8f1a !important;
}
.booking-section-single .attributes .custom-block input[type='checkbox']:checked + span:after {
  background: #009CDE;
  border-color: #009CDE !important;
}
.booking-section-single .attributes .custom-block span {
  color: #009CDE;
}
.rq-btn-primary {
  background: #009CDE;
}
.rq-btn-primary:hover,
.rq-btn-primary:active,
.rq-btn-primary:focus {
  color: #ffffff;
  background: #ff8d15;
}
.rq-car-listing-wrapper .rq-listing-choose .listing-single .listing-img .listing-image-hover a {
  background: #009CDE;
}
.rq-car-listing-wrapper .rq-listing-choose .listing-single .listing-details .listing-footer .book-now-btn a {
  background: #009CDE;
}
.listing-details .woocommerce-Price-amount {
  color: #009CDE;
}
.listing-details .in-stock {
  color: #009CDE;
}
.listing-details .cart input[type='number'] {
  height: 45px;
  width: 67px !important;
  padding-left: 14px;
}
.listing-details .cart .button {
  background: #009CDE !important;
}
.listing-details .cart .button:focus,
.listing-details .cart .button:active,
.listing-details .cart .button:hover {
  background: #ff8f1a !important;
}
.rq-isotope-filter-area .rq-car-grid .rq-filter-grid-item .footer-content span.rating {
  color: #009CDE;
  background-color: #fef5ed;
}
.rq-change-button span {
  color: #009CDE;
  background: #fef5ed;
}
.rq-change-button span.active {
  color: #ffffff;
  background: #009CDE;
}
.rq-form-control:focus,
.rq-form-control:active {
  border-color: #e6e6e6;
}
.rq-form-control.reverse:focus,
.rq-form-control.reverse:active {
  border-color: #e6e6e6;
}
.rq-checkbox input[type='checkbox']:checked + label:before {
  color: #009CDE;
}
.rq-radiobox input[type='radio']:checked + label:before {
  color: #009CDE;
}
.rq-btn-transparent:hover,
.rq-btn-transparent:active,
.rq-btn-transparent:focus {
  color: #009CDE;
  border-color: #009CDE;
}
.chosen-container .chosen-drop ul.chosen-results li.highlighted {
  background: #009CDE;
}
.rq-elements-menu.nav > li:hover:before {
  color: #009CDE;
}
.rq-elements-menu.nav > li.active a {
  color: #009CDE;
}
.rq-elements-menu.nav > li.active:before {
  color: #009CDE;
}
.rq-elements-menu.nav > li > a:hover,
.rq-elements-menu.nav > li > a:focus,
.rq-elements-menu.nav > li > a:active {
  color: #009CDE;
}
.rq-elements-menu.nav > li.is-active a,
.rq-elements-menu.nav > li.is-active:before,
.rq-elements-menu.nav > li:hover:before {
  color: #009CDE;
}
.listing-single .listing-details > .price {
  color: #009CDE !important;
}
.listing-single .listing-details .button {
  background: #009CDE;
}
.listing-single .listing-details .button:hover,
.listing-single .listing-details .button:focus,
.listing-single .listing-details .button:active {
  background: #ff8d15;
  color: #ffffff;
}
.listing-single .listing-details .listing-footer span > .price {
  color: #009CDE;
}
.comment-respond .continue-btn {
  background-color: #009CDE;
}
.comment-respond .continue-btn:hover,
.comment-respond .continue-btn:focus,
.comment-respond .continue-btn:active {
  background-color: #ff8d15;
}
.testimonial-layout-two .rq-testimonial-content .testimonial-wrapper-two .owl-nav .owl-next i,
.testimonial-layout-two .rq-testimonial-content .testimonial-wrapper-two .owl-nav .owl-prev i {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.testimonial-layout-two .rq-testimonial-content .testimonial-wrapper-two .owl-nav .owl-next i:hover,
.testimonial-layout-two .rq-testimonial-content .testimonial-wrapper-two .owl-nav .owl-prev i:hover {
  color: #009CDE;
}
.rq-testimonial-content .testimonial-wrapper-three .item .quote-icon i {
  color: #009CDE;
}
.rq-tips-tricks .rq-tips-single .tips-content a.rq-btn {
  color: #009CDE;
}
.woocommerce h4,
.woocommerce .h4 {
  font-weight: 600;
}
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  border-top: 3px solid #009CDE;
}
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
  color: #009CDE !important;
}
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
  background: #009CDE !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce .woocommerce-info .button:focus,
.woocommerce .woocommerce-message .button:focus {
  background: #ffa548 !important;
}
.woocommerce input.button,
.woocommerce button.button,
.woocommerce a.button,
.woocommerce input#submit {
  background: #009CDE !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.woocommerce input.button:hover,
.woocommerce button.button:hover,
.woocommerce a.button:hover,
.woocommerce input#submit:hover,
.woocommerce input.button:focus,
.woocommerce button.button:focus,
.woocommerce a.button:focus,
.woocommerce input#submit:focus {
  outline: 0;
  background: #ffa548 !important;
}
.woocommerce .rq-cart-options-content input[type='submit'] {
  background-color: #009CDE;
  color: #ffffff;
  border: 1px solid #009CDE;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.woocommerce .rq-cart-options-content input[type='submit']:hover,
.woocommerce .rq-cart-options-content input[type='submit']:focus {
  outline: 0;
  background-color: #ffa548;
  border-color: #ffa548;
}
.woocommerce .rq-checkout-wrapper form.woocommerce-checkout .place-order button {
  background-color: #009CDE;
  color: #ffffff;
  border: 1px solid #009CDE;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.woocommerce .rq-checkout-wrapper form.woocommerce-checkout .place-order button:hover,
.woocommerce .rq-checkout-wrapper form.woocommerce-checkout .place-order button:focus {
  outline: 0;
  background-color: #ffa548;
  border-color: #ffa548;
}
.woocommerce .woocommerce-MyAccount-content a.button {
  background: #009CDE !important;
}
.woocommerce .woocommerce-MyAccount-content table.my_account_orders td a.woocommerce-button.button.view {
  background: #009CDE;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  min-height: 50px;
  line-height: 50px;
  background: #009CDE !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.cart-collaterals .cart_totals .wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.cart-collaterals .cart_totals .wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward:focus,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus {
  outline: 0;
  background: #ffa548 !important;
}
.woocommerce-Address-title h4 .dot,
.rq-billing-address h4 .dot {
  color: #009CDE;
}
.woocommerce-Address-title a i,
.rq-billing-address a i {
  color: #009CDE;
}
.summary.entry-summary form.cart button.single_add_to_cart_button.button.alt {
  background: #009CDE;
}
.summary.entry-summary form.cart button.single_add_to_cart_button.button.alt:hover {
  background: #ffa548;
}
.woocommerce p.return-to-shop a.button.wc-backward {
  background: #009CDE;
}
.woocommerce p.return-to-shop a.button.wc-backward:hover {
  background: #ffa548;
}
td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a.woocommerce-button.button.view {
  background: #009CDE;
}
td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a.woocommerce-button.button.view:hover {
  background: #ffa548;
}
.woocommerce-Message.woocommerce-Message--info.woocommerce-info a.woocommerce-Button.button {
  background: #009CDE;
}
.woocommerce-Message.woocommerce-Message--info.woocommerce-info a.woocommerce-Button.button:hover {
  background: #ffa548;
}
.rq-listing-header .navbar .container-fluid .navbar-collapse .rq-listing-header-profile .rq-listing-profile-link .rq-listing-profile-link-drop li a:hover {
  color: #009CDE;
}
.rq-listing-footer .listing-footer-nav li a:hover {
  color: #009CDE;
}
.rq-page-content .turbo-content-listing-gallery .details-slider .owl-prev,
.rq-page-content .turbo-content-listing-gallery .details-slider .owl-next {
  color: #009CDE;
  background-color: #ffffff;
}
.rq-page-content .turbo-content-listing-gallery .details-slider .owl-prev:hover,
.rq-page-content .turbo-content-listing-gallery .details-slider .owl-next:hover {
  color: #ffffff;
  background-color: #009CDE;
}
.alike-compare-widget-button {
  background-color: #009CDE;
}
.rq-listing-header .navbar .container-fluid .navbar-collapse .menu-turbo-menu-container .navbar-nav > li > a:after,
.rq-listing-header .navbar .container-fluid .navbar-collapse .menu-main-menu-container .navbar-nav > li > a:after {
  background-color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-listing-ps-img-wrapper .rq-listing-ps-meta .rq-listing-ps-meta-item > a:hover {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-listing-ps-img-wrapper .rq-listing-ps-meta .rq-listing-ps-meta-item .rq-listing-ps-share-title:hover {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-listing-ps-img-wrapper .woocommerce-product-gallery .flex-direction-nav li a:hover:before {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-listing-ps-img-wrapper .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-listing-ps-content-wrapper .rq-ps-listing-product-features-area .rq-ps-listing-features .rq-listing-features-item .attribute-icon i {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-listing-ps-content-wrapper .rq-ps-listing-product-booking .rnb-pricing-plan-button .rnb-pricing-plan-link {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-listing-ps-content-wrapper .rq-ps-listing-product-comment .comment-respond .comment-form .stars a {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-ps-listing-product-review .rq-ps-listing-product-review-basic .woocommerce-product-rating .star-rating span {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-ps-listing-product-review #reviews #comments .commentlist li .comment_container .comment-text .listing-comment-author-info .listing-author-meta .listing-author-rating .star-rating span {
  color: #009CDE;
}
.woocommerce .rq-listing-ps-wrapper .rq-ps-listing-product-review #reviews #comments .commentlist li .comment_container .comment-text .listing-comment-author-info .listing-author-meta .listing-author-name .verified {
  color: #009CDE;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-cart-view .rq-cart-items .checkout-btn .cart-checkout-btn-wrapper .rq-btn.update-cart-btn {
  background-color: #009CDE;
  border-color: #009CDE;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-cart-view .rq-cart-items .cart-items-table table tbody tr td.product-name .listing-cart-product-title a:hover {
  color: #009CDE;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-cart-view .rq-cart-items .continue-ship-msg-area {
  border-color: #009CDE;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-cart-view .rq-cart-items .continue-ship-msg-area .continue-ship-msg > i {
  color: #009CDE;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-cart-view .rq-cart-items .continue-ship-msg-area .continue-ship-btn {
  color: #009CDE;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-turbo-listing-checkout .woocommerce-form-coupon-toggle .rental-notice .woocommerce-info a {
  color: #009CDE;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr th .woocommerce-button,
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr td .woocommerce-button,
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr th .button,
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr td .button {
  color: #009CDE !important;
}
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr th .woocommerce-button.button.view,
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr td .woocommerce-button.button.view,
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr th .button.button.view,
.turbo-listing-woocommerce .rq-listing-page .woocommerce .rq-listing-my-account-tabs-content .woocommerce-MyAccount-content .shop_table tr td .button.button.view {
  color: #009CDE !important;
}
.turbo-listing-home-search .reactiveSingleBoxFrontendView___ .reactiveNormSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ button.reuseButton___ {
  background-color: #009CDE;
}
.turbo-listing-home-search .reactiveSingleBoxFrontendView___ .reactiveNormSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ button.reuseButton___:hover,
.turbo-listing-home-search .reactiveSingleBoxFrontendView___ .reactiveNormSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ button.reuseButton___:focus {
  outline: 0;
  background-color: #ffa548;
}
.turbo-category-menu-listing .category-menu-carousel .owl-nav .owl-next i,
.turbo-category-menu-listing .category-menu-carousel .owl-nav .owl-prev i {
  color: #009CDE;
}
.turbo-category-menu-listing .category-menu-carousel .owl-nav .owl-next:hover,
.turbo-category-menu-listing .category-menu-carousel .owl-nav .owl-prev:hover {
  background-color: #009CDE;
}
.turbo-category-menu-listing .category-menu-carousel .reactiveCatGridType-Simple:hover {
  border: 2px solid #009CDE;
}
.turbo-airbnb-grid .reactive-product-listing-item .product-short-info .listing-btn-area a.view-details-btn {
  background-color: #009CDE;
}
.turbo-airbnb-grid .reactive-product-listing-item .product-short-info .listing-btn-area a.view-details-btn:focus,
.turbo-airbnb-grid .reactive-product-listing-item .product-short-info .listing-btn-area a.view-details-btn:hover {
  background-color: #ffa548;
}
.reactiveMapWrapper___ .map-marker-wrapper .turbo-marker.marker-icon {
  background-color: #009CDE;
}
.reactiveMapWrapper___ .map-marker-wrapper .turbo-marker.marker-icon::before {
  border-color: #009CDE transparent transparent transparent;
}
.reactiveMapWrapper___ .map-marker-wrapper .turbo-marker.marker-icon .marker-icon-wrapper {
  background-color: #ffffff;
}
.reactiveMapWrapper___ .map-marker-wrapper .turbo-marker.marker-icon .marker-icon-wrapper i {
  color: #009CDE;
}
.reactiveMapWrapper___ .reactiveInfoWindowWrapper .reactiveInfoWindowContents .listing-btn-area a.view-details-btn {
  background-color: #009CDE;
}
.reactiveMapWrapper___ .reactiveInfoWindowWrapper .reactiveInfoWindowContents .listing-btn-area a.view-details-btn:focus,
.reactiveMapWrapper___ .reactiveInfoWindowWrapper .reactiveInfoWindowContents .listing-btn-area a.view-details-btn:hover {
  background-color: #ffa548;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchElementTitle___.dropDownActive,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchElementTitle___.dropDownActive button[type='button'] {
  border-color: #ff8d15;
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseRadioButtonWrapper___ .reuseRadioButtonField___ input[type='radio']:checked + label:before {
  border-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseRadioButtonWrapper___ .reuseRadioButtonField___ input[type='radio']:checked + label:after {
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxWrapper___ .reuseCheckboxField___ input.reuseCheckbox___:checked + label:before,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxParrentWrapper___ .reuseCheckboxField___ input.reuseCheckbox___:checked + label:before,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxWrapper___ .combo input.reuseCheckbox___:checked + label:before,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxParrentWrapper___ .combo input.reuseCheckbox___:checked + label:before,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxWrapper___ .reuseCheckboxField___ input.reuseComboCheckbox___:checked + label:before,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxParrentWrapper___ .reuseCheckboxField___ input.reuseComboCheckbox___:checked + label:before,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxWrapper___ .combo input.reuseComboCheckbox___:checked + label:before,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseCheckboxParrentWrapper___ .combo input.reuseComboCheckbox___:checked + label:before {
  border-color: #009CDE;
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseSelectedBoxWrapper___ button.reuseSelectBtn___.reuseSelectedClass___::before {
  border-color: #009CDE;
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseSelectedBoxWrapper___ button.reuseTagSelectBtn___.reuseSelectedClass___,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseSelectedBoxWrapper___ button.reuseCircularSelectBtn___.reuseSelectedClass___ {
  border-color: #009CDE;
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseSelectedBoxWrapper___ button.reuseImageSelectBtn___.reuseSelectedClass___ {
  border-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseMinMaxInput___ .reuseMinMaxBtn___ {
  border-color: #009CDE;
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseMinMaxInput___ .reuseMinMaxBtn___:hover {
  background-color: #ffa548;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseSingleRatingBar___ {
  color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseSingleRatingBar___ span.reuseItemCount___ {
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-origin {
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-origin .noUi-handle {
  border-color: #009CDE;
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-origin .noUi-handle .noUi-tooltip {
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-origin .noUi-handle .noUi-tooltip:after,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ .reuseElementBlock___ .reuseNoUiSliderWrapper___ .noUi-horizontal .noUi-origin .noUi-handle .noUi-tooltip:before {
  border-color: #009CDE transparent transparent transparent;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#ResetButton,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#FilterButton,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#applyFilter {
  border-color: #009CDE;
  background-color: #009CDE;
}
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#ResetButton:hover,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#FilterButton:hover,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#applyFilter:hover,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#ResetButton:focus,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#FilterButton:focus,
.reactiveSingleBoxFrontendView___.reactiveDropdownView___ .reactiveSearchGridContents___ .reuseFormWrapper___ .reuseSingleElement___ > div > button[type='button']#applyFilter:focus {
  outline: 0;
  background-color: #ffa03d;
}
.turbo-airbnb__grid-template button.ReactiveGridLoadMore___ {
  color: #009CDE;
}
.turbo-airbnb__grid-template button.ReactiveGridLoadMore___:hover,
.turbo-airbnb__grid-template button.ReactiveGridLoadMore___:focus {
  color: #ffa548;
}
.turbo-airbnb__grid-template .reactInfiniteSpinner___ div[class*='css-'] {
  background-color: #009CDE;
}
.woocommerce.turbo-listing-woocommerce .rental-notice .woocommerce-message a {
  color: #009CDE !important;
}
.woocommerce.turbo-listing-woocommerce .rental-notice .woocommerce-message a:hover,
.woocommerce.turbo-listing-woocommerce .rental-notice .woocommerce-message a:focus {
  color: #ffa548 !important;
}
.turbo-mini-cart > span.cart-counter {
  color: #ffffff;
  background-color: #009CDE;
}
.turbo-mini-cart .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul.woocommerce-mini-cart li .cart-item-details {
  color: #009CDE;
}
.turbo-mini-cart .widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons > a.button.wc-forward.checkout {
  background-color: #ffa548 !important;
}
